/* global variable */
/* ------------------------------------------------------------------------------------------ */
main > article {
    --h2-font-size: clamp( 1.5rem, 0.75rem + 3vw, 1.75rem );
    --h3-font-size: clamp( 1rem, 0.5rem + 3vw ,1.25rem );
}

/* article */
/* ------------------------------------------------------------------------------------------ */
main > article {
    max-inline-size: 66ch;
    padding-block: var( --h2-font-size );
    margin-inline: auto;
}

/* heading */
/* ------------------------------------------------------------------------------------------ */
main > article > h2,
main > article > h3 {
    font-family: "IBM Plex Mono - 700";
    font-style: normal;
    font-weight: 700;
}

main > article > h2 {
    margin-block-start: var( --h2-font-size );
    font-size: var( --h2-font-size );
}

main > article > h3 {
    margin-block-start: var( --h3-font-size );
    font-size: var( --h3-font-size );
}

main > article > h2:first-child {
    margin-block-start: 0;
}

/* list */
/* ------------------------------------------------------------------------------------------ */
/* reset the style of the li */
main > article li {
    position: relative;
    margin: 0.5rem;
    margin-inline-start: 2rem;
}

main > article li > ul,
main > article li > ol {
    margin-block: 0.5rem;
}

main > article ul > li:not(.check-li)::before {
    content: "";
    position: absolute;
    top: 1rem;
    left: 0;
    inline-size: 0.5rem;
    block-size: 0.5rem;
    margin-inline-start: -0.5rem;;
    border-radius: 999rem;
    background-color: var( --medium-grey );
    transform: translate( -100%, -50% );
}

/* blockquote */
/* ------------------------------------------------------------------------------------------ */
main > article > blockquote {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    margin-block: 0.5rem;
    border-inline-start: 0.25rem solid var( --light-grey );
    color: var( --medium-grey );
    font-size: 0.8rem;
    line-height: 1.5;
}

main > article > blockquote * {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}

/* Code */
/* ------------------------------------------------------------------------------------------ */
main > article pre,
main > article code {
	border-radius: var( --border-radius );
    background-color: var( --light-grey );
}

main > article pre {
	padding: 1rem;
    margin-block: 0.5rem;
}

main > article code {
	padding-inline: 0.5em;
}

main > article pre > code {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
}

main > article code,
main > article code * {
    font-family: "Fira Code - 400";
    font-weight: 400;
    font-style: normal;
}
