header > section.icon {
    display: flex;
    align-items: center;
    margin-inline-start: auto;
}

/* reset the style of the button */
header > section.icon > button {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    background: none;
}

header > section.icon > button {
    margin-inline: 0.5rem;
    line-height: 1;
    cursor: pointer;
}

header > section.icon > button:first-child {
    margin-inline-start: 0;
}

header > section.icon > button:last-child {
    margin-inline-end: 0;
}

/* github & language */
header > section.icon > button:nth-child( -n+2 ) {
    inline-size: 1.25rem;
    block-size: 1.25rem;
}

header > section.icon > button:nth-child( -n+2 ) > svg {
    inline-size: 100%;
    block-size: 100%;
    fill: var( --medium-grey );
}

header > section.icon > button:nth-child( -n+2 ):hover > svg {
    fill: var( --dark-grey );
}

/* theme */
header > section.icon > button:nth-child( 3 ) {
    position: relative;
    inline-size: calc( 2rem + 6px );
    block-size: calc( 1rem + 6px );
    border: 1px solid var( --medium-grey );
    border-radius: 999rem;
    background-color: var( --light-grey );
}

header > section.icon > button:nth-child( 3 ):hover {
    border-color: var( --dark-grey );
}

header > section.icon > button:nth-child( 3 ) > span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    inline-size: 1rem;
    block-size: 1rem;
    border-radius: 999rem;
    background-color: var( --white );
}

header > section.icon > button:nth-child( 3 ) > span.light {
    transform: translate( 2px, -50% );
}

header > section.icon > button:nth-child( 3 ) > span.dark {
    transform: translate( calc( 1rem + 2px ), -50% );
}

header > section.icon > button:nth-child( 3 ) > span > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    inline-size: 70%;
    block-size: 70%;
    fill: var( --medium-grey );
    transform: translate( -50%, -50% );
}

header > section.icon > button:nth-child( 3 ):hover > span > svg {
    fill: var( --dark-grey );
}

header > section.icon > button:nth-child( 3 ) > span.light > svg.sun,
header > section.icon > button:nth-child( 3 ) > span.dark > svg.moon {
    visibility: visible;
}

header > section.icon > button:nth-child( 3 ) > span.dark > svg.sun,
header > section.icon > button:nth-child( 3 ) > span.light > svg.moon {
    visibility: hidden;
}
