header > section.language {
    position: fixed;
    top: 3.5rem;
    right: 0.5rem;
    border: 1px solid var( --light-grey );
    border-radius: var( --border-radius );
}

header > section.language > div {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    color: var( --medium-grey );
    font-size: 80%;
    text-align: center;
    cursor: pointer;
}

header > section.language > div:hover {
    color: var( --dark-grey );
}

header > section.language > hr {
    inline-size: 100%;
    block-size: 1px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: var( --light-grey );
}
