html {
    --white: #ffffff;
    --light-grey: #eeeeee;
    --medium-grey: #aaaaaa;
    --dark-grey: #444444;
    --border-radius: 0.25rem;
}

html {
    color: var( --dark-grey );
    font-size: clamp( 16px, 8px + 1vw, 18px );
}

/* Code */
@font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local( "Fira Code" ),
        url( "/static/font/firacode-regular.ttf" ) format( "ttf" );
}
