html {
    --white: #ffffff;
    --light-grey: #eeeeee;
    --medium-grey: #aaaaaa;
    --dark-grey: #444444;
    --border-radius: 0.25rem;
}

html {
    color: var( --dark-grey );
    font-family: "IBM Plex Mono - 300";
    font-size: clamp( 16px, 8px + 2vw, 18px );
    font-weight: 300;
    font-style: normal;
}
